@import './../../../styles.scss';

// * {
//     box-sizing: border-box;
// }

.basket-box {
    position: fixed;
    width: calc(360px - 48px);
    top: 80px;
    right: 0;
    bottom: 0;
    background-color: white;
    border-left: 1px solid lightgray;
    filter: $shadow;
    padding: 24px;
    transition: top 250ms ease-in-out;
}

.default-box {
    @include display($jc: space-between)
}

.flex {
    display: flex;
    align-self: flex-end;
    width: 70px;
}

h1 {
    text-align: center;
}

.f-weight {
    font-weight: 600;
}

button {
    width: 100%;
}

.meal-boxes {
    @include display();
    flex-direction: column;
}

.counter-btn {
    width: 40px;
    height: 40px;
    @include display();
    border-radius: 100%;
}

.counter-box {
    justify-content: flex-end;
    gap: 16px;
}

.disable-btn-color {
    background-color: lightgray;
    &:hover {
        background-color: lightgray;
    }
}

.bg-color {
    background-color: #fff9dfe8;
    padding: 16px;
    border-radius: 8px;
} 

.count-circle {
    display: none
}

.d-none {
    display: none !important;
}

.scroll-container {
    max-height: 44vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightgray transparent;
  
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: gray;
    }
  }



@media (max-width: 900px) {
    .basket-box {
        width: unset;
        position: fixed;
        top: -24px !important;
        right: 32px;
        bottom: 0;
        left: 32px;
        padding: 0 64px;
        background-color: white;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border: unset;
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
        transform: translateY(96vh);
        &:hover {
            cursor: pointer;
        }
    }

    .show-basket {
        top: -80vh !important;
    }

    .top-box {
        @include display();
        gap: 8px
    }

    .count-circle {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: $main-color;
        @include display();
        color: white;
        font-weight: 600;
    }
}

@media (max-width: 500px) {
    .basket-box {
        padding: 0 32px;
    }
}