@import './../styles.scss';

mat-toolbar {
    background-color: white;
    height: 80px;
    border-bottom: 1px solid lightgray;
    @include display($jc: space-between);
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    padding: 0 40px;
}

.logo-img {
    // width: 48px;
}

@media (max-width: 500px) {
    .d-none {
        display: none;
    }

    mat-toolbar {
        justify-content: center;
    }

}

// .main-content {
//     width: calc(100% - 360px);
// }

