<img src="./assets/img/pizza-top.jpg" alt="" class="top-img">
<div class="desk-max-width box-height">
    <h1>Pizzeria Casa Mia</h1>
    <div class="rating-box">
        @for (item of [0, 1, 2, 3]; track $index) {
            <img src="./assets/img/star.svg" alt="" class="stars">
        }
        <img src="./assets/img/star-half.svg" alt="" class="stars">
        <h3 class="ml-16">55 Ratings</h3>
    </div>
    <div class="deliver-infos">
        <mat-icon>shopping_cart</mat-icon>
        <h3>Min. 18,00€</h3>
        <mat-icon class="ml-16">directions_bike</mat-icon>
        <h3>Min. 3,00€</h3>
    </div>

</div>